<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Bikes', control_panel_bikes_path %></li>
      <li><%= link_to 'Orders', control_panel_orders_path %></li>
    </ul>
  </div>
</nav>